<%- include("header") -%>

<div class="aboutHeading">
    <h1 class="heading">About</h1>
    <br>
    <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et delectus, velit minima asperiores
        architecto
        voluptates aliquid deleniti nihil. Ut enim rem aspernatur pariatur animi tempore dicta voluptatibus vitae
        quaerat distinctio. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae tempora quisquam
        sapiente exercitationem eveniet? Aliquam distinctio ipsum autem, corrupti voluptates, asperiores quas, minus
        excepturi voluptatibus saepe doloribus. Possimus, soluta officia. Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Voluptatem sunt distinctio eum ipsum. Fugiat, cum aliquam repudiandae corrupti nulla quam
        harum ipsum possimus accusantium ut porro? Nisi nam veritatis iusto!</p>
</div>

</body>

</html>